# {{ ansible_managed }}
[Default]
listen={{ openio_gridinit_rundir }}/gridinit.sock
pidfile={{ openio_gridinit_rundir }}/gridinit.pid
uid={{ openio_gridinit_user }}
gid={{ openio_gridinit_group }}
working_dir={{ openio_gridinit_rundir }}

limit.core_size={{ openio_gridinit_limits['core_size'] }}
limit.max_files={{ openio_gridinit_limits['max_files'] }}
limit.stack_size={{ openio_gridinit_limits['stack_size'] }}

include={{ openio_gridinit_conf_confd }}/*/*
